/* Register Css */
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  height: auto;
  margin-left: 1px;
  margin-top: 1px;
  margin-right: 1px;
  overflow-x: hidden;
  background: #ee9ca7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffdde1,
    #ee9ca7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffdde1,
    #ee9ca7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  background-color: #fff;
  padding-right: 60px;
  padding-left: 40px;
  border-radius: 20px;
  position: relative;
  margin: 0 auto;
}

.title {
  font-size: 28px;
  color: rgb(76, 119, 228);
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}
#errorDisplayRegister {
  color: red;
}
.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: royalblue;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: royalblue;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message,
.signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: royalblue;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.flex {
  display: flex;
  width: 100%;
  gap: 30px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.submit {
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
}

.submit:hover {
  background-color: rgb(18, 18, 19);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

.birthdayInput {
  height: 35px;
  width: 416px;
  border-radius: 5px;
  border-color: lightgray;
}

#cardsWarn,
#comNumWarn {
  padding-left: 5px;
  font-size: 12px;
  color: rebeccapurple;
}

.mainDash {
  background-color: rgb(243, 234, 239);
  display: flex;
  width: 100%;
}
.sideBar {
  width: 300px;
  height: 887px;
  background: #ee9ca7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffdde1,
    #ee9ca7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffdde1,
    #ee9ca7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.links {
  width: 350px;
}
.links a {
  text-decoration: none;
  color: black;
  border: none;
}
.content {
  padding-top: 30px;
  width: 100%;
  padding-left: 30px;
  overflow-y: auto;
  height: 886px;
  overflow-x: hidden;
  background-color: #fff;
}
.detailContainer {
  height: 500px;
  width: 800px;
}
.popup-details {
  height: 750px;
  width: 800px;
  display: none;
  position: fixed;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  background: #f7eff3;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: rgb(214, 222, 231) 0px 20px 30px -10px;
  z-index: 9999;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
}
.fullNameDisplay,
.genderAgeDisplay {
  display: flex;
  width: 500px;
}

.bankDetailContainer,
.companyDetailContainer,
.proofBillIdContainer {
  width: 700px;
  display: flex;
}
.firstName,
.gender {
  width: 100px;
}
.lastName,
.age {
  width: 100px;
  float: left;
  margin-left: 40px;
}
.birthday,
.age,
.email {
  margin-left: 80px;
}
#bankDetailDisplay,
#personalDetail,
#companyDetails {
  font-style: italic;
  font-size: 12px;
}
.bankName {
  width: 200px;
}
.proof_bill,
.proof_id,
.proof_coe {
  border: 1px solid lightgray;
  height: 300px;
  width: 345px;
  margin-bottom: 10px;
}
.idContainer {
  margin-left: 40px;
}
.birthday {
  width: 200px;
}
.email {
  width: 50px;
}
#accountTypeDropdown {
  width: 420px;
  height: 45px;
  border-radius: 10px;
  border: 1px solid lightgray;
}
.goLinks {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.active {
  background-color: lightgray;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#linkColor img {
  fill: rgb(10, 10, 10);
}
.table {
  margin-top: 20px;
}
.proofBill,
.proofId,
.proofCoe {
  border: 1px solid lightgray;
  height: 30px;
  padding-top: 10px;
  padding-left: 10px;
  width: 410px;
  border-radius: 10px;
}
#closeImage {
  transform: translate(700px);
}
#closeImageDeposit,
#closeImageWithdraw {
  transform: translate(500px);
}
#inputNumberLoan {
  height: 40px;
  width: 350px;
  border: 1px solid lightgray;
  border-radius: 10px;
}
#submitLoanAmount {
  width: 300px;
  height: 35px;
}
.titleLoan {
  padding-top: 25px;
}
.loanContent {
  width: 100%;
  height: 885px;
  overflow-y: auto;
  padding-left: 20px;
  background-color: #fff;
}
#noLoanfound {
  background-color: transparent;
}
.moneyContainer {
  height: 350px;
  width: 1359px;
  border-bottom: 1px solid lightgray;
}
.savingTitle {
  padding-top: 25px;
  padding-left: 10px;
  background-color: #fff;
}
.money {
  position: absolute;
  top: 200px;
  left: 45%;
}
#savingMoneyDisplay {
  font-size: 80px;
}
#totalSavingLblDisplay {
  padding-left: 30%;
}
.savingBtnContainer {
  position: absolute;
  top: 350px;
  right: 560px;
}
#savingDepositBtn,
#savingWithdrawBtn {
  width: 150px;
  height: 35px;
  border: 1px solid lightgray;
  border-radius: 10px;
}
.popup-details-deposit {
  height: 260px;
  width: 600px;
  display: none;
  position: fixed;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  background: #f7eff3;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: rgb(214, 222, 231) 0px 20px 30px -10px;
  z-index: 9999;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
}
#depositAmountInput {
  height: 35px;
  width: 500px;
}
.billingsContainer {
  background-color: #fff;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 25px;
}
.profile_container {
  padding-top: 25px;
  background-color: #fff;
  padding-left: 10px;
  width: 100%;
  height: 880px;
  overflow-y: auto;
}
.inner_profile {
  margin: 0 auto;
  width: 700px;
}
.btn_container {
  margin-left: 550px;
}
